/* Styling dashboard */
body {
    background: linear-gradient(315deg, #46b361 0%, #98d5a7 5%, #b6e2c1 15%, #d3eed9 33%, #fcfffc 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: open sans, sans-serif;
    color: #2D3A3A;
}

h1 {
    font-size: 3vmax;
    font-weight: 800;
    color: #144921;
    text-align: center;
    margin-top: 30px;
}

/* Card (background item) */
.table-card.card {
    background-color: #fcfffc;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}

    .table-card.card .card-header {
        background-color: transparent;
        border-bottom-color: #fcfffc;
        line-height: 30px;
        align-self: center;
        width: 100%;
        padding: 20px 15px 0px 25px !important;
    }

    .table-card.card .card-body,
    .table-card.card .card-footer {
        background-color: transparent;
        padding: 10px 25px 25px 25px;
        margin-bottom: 0;
    }

/* Table */
.table {
    max-height: 400px;
    margin-bottom: 0 !important;
    border: 2px solid transparent;
}

th:first-child,
td:first-child,
th:last-child,
td:last-child {
    padding-left: 20px;
}

.table:not(.table-sm) thead th {
    border-color: #2D3A3A !important;
    background-color: #98d5a7;
    color: #040F0F;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr {
    border-color: #A1D9AF;
    border-style: solid;
    vertical-align: middle;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-accent-bg: #d4eeda;
    color: #2D3A3A;
}

.table-striped > tbody > tr:nth-of-type(even) {
    --bs-table-accent-bg: #fcfffc;
    color: #2D3A3A;
}

.user-icon i {
    font-size: 20px;
    margin-right: 0.25rem;
}

.diets-allergies {
    width: 30px;
    vertical-align: bottom;
    text-align: center;
    display: inline-block;
    margin-right: 2%;
}

    .diets-allergies i {
        width: 30px;
        height: 30px;
        max-width: 100%;
        height: fit-content;
        font-size: 25px;
    }

/* Icon crossed*/
.icon-normal i {
    width: 30px;
    height: 30px;
    max-width: 100%;
    height: fit-content;
    font-size: 25px;
}

.icon-crossed {
    position: relative;
    height: fit-content;
}

    .icon-crossed i {
        width: 30px;
        height: 30px;
        max-width: 100%;
        height: fit-content;
        font-size: 25px;
    }

.diets-allergies.icon-crossed::before {
    content: "\f05e";
    width: 35px;
    height: 35px;
    color: #dc3545;
    font-family: "Font Awesome 5 Pro";
    font-weight: 200 !important;
    font-size: 35px;
    position: absolute;
    top: -45%;
    bottom: 0%;
    right: 0;
    left: -7%;
}

/* list-group */
.list-group-item {
    padding: 10px 10px;
}

    .list-group-item i {
        text-align: center;
    }

.list-group-item-dark {
    background-color: #98d5a7 !important;
    color: #040F0F !important;
}

.list-group-item.icon-crossed::before {
    content: "\f05e";
    width: 35px;
    height: 35px;
    color: #dc3545;
    font-family: "Font Awesome 5 Pro";
    font-weight: 200 !important;
    font-size: 35px;
    position: absolute;
    top: -5%;
    bottom: 0%;
    right: 0;
    left: 5%;
}

/* Card button */
.button-card.card {
    background-color: #fcfffc;
    margin-bottom: 30px;
}

    .button-card.card a {
        text-decoration: none;
    }

    .button-card.card:hover {
        background-color: #ededed;
    }

    .button-card.card:focus,
    .button-card.card:active {
        /* border: 10px solid #ededed!important; */
        box-shadow: 0px 0px 0px 0.3rem #46b36180 !important;
    }

.button-card-icon {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    font-size: 27px;
    /* border-radius: 10px; */
}

.btn-outline-success {
    margin: 20px;
}

/* Colors */
.text-primary {
    color: #586DD6 !important;
}

.border-primary {
    border-color: #586DD6 !important;
}

.bg-gradient-blue {
    background: linear-gradient(-45deg, #17ead9, #6078ea) !important;
}


.bg-gradient-red {
    background: linear-gradient(45deg, #f54ea2, #ff7676) !important;
}

.text-success {
    color: #248232 !important;
}

.border-success {
    border-color: #248232 !important;
}

.bg-gradient-green {
    background: linear-gradient(-45deg, #b6e2c1, #248232) !important;
}

.bg-gradient-yellow {
    background: linear-gradient(45deg, #ffdf40, #ff8359) !important;
}
