body {
    background: linear-gradient(315deg, #46b361 0%, #98d5a7 5%, #b6e2c1 15%, #d3eed9 33%, #fcfffc 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: open sans, sans-serif;
    color: #2D3A3A;
}


.field-group-input {
    display: flex;
    justify-content: space-between;
}

.my-form-input {
    flex: 6
}

.field-group-filler {
    flex: 1
}
